<div class="slidebar">
    <div class="side-nav fixed">
        <div class="">
            <ul class="side-nav fixed" id="slide-out">
                <li data-active = 'private_chat'>
                    <a href="<%= private_chat_path %>"><i class="fa fa-comment"></i>Private chat</a>
                </li>
                <li>
                    <!-- <a href="/group_chat"><i class="fa fa-comments"></i>Group chat</a> -->
                    <a href="#"><i class="fa fa-comments"></i>Group chat</a>
                </li>
                <li>
                    <a class="modal-trigger" href="#clean"><i class="fa fa-trash-o"></i>Clean</a>
                </li>
                <li>
                    <a class="modal-trigger" href="#sign-out"><i class="fa fa-sign-out"></i>Sign out</a>
                </li>
            </ul>
        </div>
        <div class="">
            <ul class="side-nav fixed" id="slide-out">
                <li data-active = 'private_chat'>
                    <a href="<%= private_chat_path %>"><i class="fa fa-comment"></i>Private chat</a>
                </li>
                <li>
                    <!-- <a href="/group_chat"><i class="fa fa-comments"></i>Group chat</a> -->
                    <a href="#"><i class="fa fa-comments"></i>Group chat</a>
                </li>
                <li>
                    <a class="modal-trigger" href="#clean"><i class="fa fa-trash-o"></i>Clean</a>
                </li>
                <li>
                    <a class="modal-trigger" href="#sign-out"><i class="fa fa-sign-out"></i>Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</div>